.post-page{
  padding : 2rem;
  user-select: none;
  -webkit-user-select : none;
}

.post-list-header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-list-header h1{
  font-size: 2.5rem;
  color: #ff6600;
  margin-bottom: 2rem;
}

.post-list ul {
  width : 1024px;
  min-height: 400px;
  margin : 0 auto;
  list-style: none;
}

.post-list li.firstTopBorder{
  border-top : 1px solid #000019;
}

.post-list li{
  border-bottom: 1px solid #000019;
}

.post-list li div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-list li div h2{
  font-size : 1.0rem;
  margin : 10px;
}

.post-list li div h2 a{
  color : #6f6f6f;
  text-decoration: none;
}

.post-list li div span{
  margin : 10px;
}

.post-list li div h2 a:hover{
  color : #ff6600;
}

.post-list li div:hover{
  background-color: #f2f2f2;;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.post-pagination-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-pagination-wrapper .pagination {
  margin-top: 1rem;
}

.post-pagination-wrapper .pagination span {
  margin-top: 0px;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9rem;
}

.post-pagination-wrapper .pagination span.active {
  font-weight: bold;
}


@media (max-width: 768px) {
  .post-page{
    overflow: auto;
  }

  .post-list ul {
    width: 90%;
    padding: 0 10px;
    min-height : 300px;
  }

  .post-list li div {
    flex-direction: column;
    align-items: flex-start;
  }

  .post-list li div h2 {
    font-size: 1.2rem;
    margin: 10px 0 10px 5px;
  }

  .post-list li div h2 a {
    font-size: 1.1rem;
  }

  .post-list li div span {
    font-size: 0.9rem;
    margin: 0 0 5px 5px;
  }

  .post-pagination-wrapper {
    margin-bottom: 1rem; /* 푸터와의 간격 확대 */
  }

  .post-pagination-wrapper .pagination span {
    padding: 8px;
    font-size: 0.8rem;
  }

  .post-list-header h1 {
    font-size: 1.5rem;
  }
}